# Python
.venv/
.venv-1/
__pycache__/
*.pyc
*.pyo
*.pyd
.env

# Node (root accidental)
/node_modules/
/package.json
/package-lock.json
/postcss.config.js
/tailwind.config.js
/dist/

# Node (frontend)
frontend/node_modules/
frontend/dist/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Misc
*.log
